<h1>Update Routine</h1>

<form method="post" action="/routines/<%= @routine.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

   <label for="name">Enter name here:</label>
   <input type="text" name="name" id="name">

   <label for="routine">Enter description here:</label>
   <input type="text" name="description" id="description">

   <input type = "submit" value = "Submit Changes!">
</form>