<h2><%= @user.username %>'s Routines</h2>
<%# test this out once wifi is back up %>
<% if !@user_routines.empty? %>
  <ul>
    <% @user_routines.each do |routine| %>
      <li><a href= "/routines/<%= routine.id %>"><%= routine.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You don't currently have any routines! Would you like to <a href="/routines/new">add one</a>?</p>
<% end %>
<br>

 <form method ="get" action="/routines/new">
   <input type="submit" value="Add New Routine">
</form>

<p>
 <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
</form>