<% if !!@message %>
   <p class="danger"><%= @message %></p>
<% end %>

<form action="/routines" method="post">
   <label for="name">Enter name here:</label>
   <input type="text" name="name" id="name"><br>

   <label for="routine">Enter description here:</label>
   <input type="text" name="description" id="description"><br>

   <input type = "submit" value = "Add Routine">
</form>

<p>
 <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
</form>