<form action = "/login" method = "post">

   <label for="username">Username:</label>
   <input id="username" type="text" name="username"><br>
   <p>
   <label for="password">Password:</label>
   <input id="password" type="password" name="password"><br>

   <%# if user does not put in the correct information in either field, need to prompt an error message %>
   <% if @failed %>
      <p class="danger">Your input was incorrect, please try again.</p>
   <% end %>
   <p>

   <input type="submit" value="Log In">
</form>