<h1>Woops, something went wrong -_- </h1>

<img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-04/1/17/enhanced/webdr05/enhanced-9230-1459546224-1.jpg?downsize=700:*&output-format=auto&output-quality=auto" alt="roger" width="550" height="400">

<p>

<form method ="get" action="/home">
   <input type="submit" value="Go Home, Roger!">
</form>