<h2>Here are all your favorite products, <%= @user.username %>!</h2>

<% if !@user_products.empty? %>
  <ul>
    <% @user_products.each do |product| %>
      <li><a href= "/products/<%= product.id %>"><%= product.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You don't currently have any products! <a href= "/routines/new">Create a routine</a> to start adding some!</p>
<% end %>
<br>

 <form method ="get" action="/routines">
   <input type="submit" value="Go to Routines">
</form>

<p>
 <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
</form>