<% if !!@message %>
   <p class="danger"><%= @message %></p>
<% end %>

<form action="/products" method="post">
   <label for="name">Enter product here:</label>
   <input type="text" name="product[name]" id="name"><br>

   <label for="category">Enter category here:</label>
   <input type="text" name="product[category]" id="category"><br>

   <input type = "submit" value = "Add Product">

</form>