<% if !!@message %>
   <p class="danger"><%= @message %></p>
<% end %>

<form action="/routines/<%@routine.id%>/products" method="post">
   <label for="name">Enter product here:</label>
   <input type="text" name="name" id="name"><br>

   <label for="category">Enter category here:</label>
   <input type="text" name="category" id="category"><br>

   <input type = "submit" value = "Add Product">

</form>