<h2>Hello there, <%= @user.username %>!</h2>
<h3>Here's a quick view of all your routines below, feel free to create one too!</h3>


  <div>
      <% @user.routines.each do |routine| %>
        <li><a href= "/routines/<%= routine.id %>"><%= routine.name %></a></li>
      <% end %>
  </div>

 <br>
 <form method ="get" action="/routines">
   <input type="submit" value="Go to Routines">
</form>
<p>
 <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
</form>