<h2>Hello there, <%= @user.username %>!</h2>
<h3>Here's a quick view of all your routines below, feel free to create one too!</h3>
<%# iterate thru current_user's routines, list out their names with a clickable link %>
<% @user.routines.each do |routine| %>
   <ol><%=routine.name%></ol>
<% end %>
